version: "3.9"

services:
  livekit:
    image: livekit/livekit-server:latest
    command: ["--config", "/etc/livekit/livekit.yaml"]
    volumes:
      - ./config/livekit.yaml:/etc/livekit/livekit.yaml:ro
    ports:
      - "7880:7880/tcp"     # signaling (WS/WSS)
      - "7881:7881/tcp"     # RTC over TCP fallback
      - "50000-50100:50000-50100/udp" # media RTP/RTCP
    depends_on:
      - turn
    networks:
      - "mynet"
  turn:
    image: coturn/coturn:4.6
    command: ["-c", "/etc/turnserver.conf"]
    volumes:
      - ./config/turnserver.conf:/etc/turnserver.conf:ro
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/tcp"
      - "5349:5349/udp"
    networks:
      - "mynet"

networks:
  mynet:
    external: true
    name: "mynet"